/* Hier werden Farbthema und Logo definiert. */
:root {
	/* pink-turquoise */
	--color1: #d169c5; /* Color pink */
	--color2: #19b396; /* Color turquoise */

	/* Vergesse nicht die URL für das Logo in ".logo" anzupassen, wenn du das Farbthema änderst! */
	/* Hier drunter habe ich auch die anderen Farbthemen notiert. Wechsel die #Codes aus um die Farbe im ganzen Projekt zu ändern. */



	/* blue */
	/*--color1: #6512FF;*/ /* Color blue */
	/*--color2: #76F0EC;*/ /* Color light blue */

	/* blue-green */
	/*--color1: #2FD2EB;*/ /* Color light blue */
	/*--color2: #15ED76;*/ /* Color lime */

	/* green */
	/*--color1: #12FF4D;*/ /* Color lime */
	/*--color2: #013319;*/ /* Color dark green */

	/* pink-turquoise */
	/*--color1: #d169c5;*/ /* Color pink */
	/*--color2: #19b396;*/ /* Color turquoise */

	/* red */
	/*--color1: #FF1919;*/ /* Color red */
	/*--color2: #420606;*/ /* Color dark red */

	/* red-orange */
	/*--color1: #ff9f19;*/ /* Color yellow */
	/*--color2: #a60800;*/ /* Color red */

	/* yellow */
	/*--color1: #FCFC83;*/ /* Color eggshell yellow */
	/*--color2: #787405;*/ /* Color dark yellow-green */
}
.logo {
	width: 240px;
	height: 100px;
	background: URL('../images/logo-pink-turquoise.png'); /* Passe die URL an wenn du das Farbthema änderst! Die URL ist immer "logo-" gefolgt vom Farbthema. */
	background-repeat: no-repeat;
	background-size: contain;
}
.colorfade {
	background: linear-gradient(to right, var(--color1), var(--color2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

/* Die folgenden Einstellungen sind für das grundlegende Design der Seite. Diese betreffen die "main" und "sidebar" Klassen. */
body {
	font-family: "Arial", sans-serif;
	background-color: black;
	color: #cbc8cc;	
}
.sidebar {
	height: 100%;
	width: 240px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(black 0%, var(--color1) 10%, var(--color2) 90%, black 100%);
	overflow-x: hidden;
	padding-top: 50px;
	box-shadow: 3px 3px 5px black, 3px 3px 5px var(--color2);
}
.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
}
.sidebar a:hover {
	color: #f1f1f1;
}
.main {
	margin-left: 240px;
	padding: 0px 10px;
}
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

/* Schriftfarben dem Farbschema des jweiligen Styles. Können in Funktionen wie <h1> oder <p> aufgerufen werden: <h1 id="colorTheme-1"> */
#colorTheme-1 {
	display: inline;
	color: var(--color1);
}
#colorTheme-2 {
	display: inline;
	color: var(--color2);
}

/* Hier folgen sytles für bestimmte functionen, am besten nicht ändern. */
hr { 
	width: 95%; 
	height: 5px; 
	border-color: black;
	background: black;
}
.transparent-box {
	border: 2px solid #818181;
	margin: 20px;
	padding: 20px;
}

/* Hier wird eine standart Tabelle formatiert. Eine Änderung hier wird fast alle Tabellen betreffen. */
#myTable {
	width: 80%;
	border-collapse: collapse;
	text-align: left;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	overflow: hidden;
}
#myTable th, #myTable td {
	padding: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#myTable tr:last-child td {
	border-bottom: none;
}
#myTable tr :nth-child(even) {
	background: rgba(255, 255, 255, 0.2);
}
#myInput {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-color: #2e2d2e;
	color: white;
	width: 50%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

/* Hier wird die Tabelle für Gegenstände in "inventory.html" formatiert. */
#tableItems {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#tableItems th, #tableItems td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
#tableItems tr :nth-child(even) {
	background-color: #2e2d2e;
}

/* Hier wird der Style für [<ul class="">] Listen festgelegt. */
ul.blank {
	list-style-type: square;
	list-style-position: inside;
}
ul.a {
	list-style-type: square;
	list-style-position: inside;
	width: 40%;
	border-collapse: collapse;
	text-align: left;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	overflow: hidden;
}
ul.b {
	list-style-type: square;
	list-style-position: inside;
	width: 60%;
	border-collapse: collapse;
	text-align: left;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	overflow: hidden;
}
ul.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-position: inside;
	padding-left: 0; /* remove default left padding */
}